@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    --coldry-blue: 171 209 243;
    --coldry-black: 45 45 52;
    --coldry-white: 247 251 255;
    --coldry-gray: 219 222 223;
    --coldry-accent: 78 108 118;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 90% 45%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  /* Scrollbar and Selection */
  /* *::-webkit-scrollbar { */
  /*   @apply w-1 bg-discord-gray-200; */
  /* } */

  /* *::-webkit-scrollbar-thumb { */
  /*   @apply rounded-full bg-discord-blue; */
  /* } */
}
